.weatherBackground
{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.square-a
{
  width: 100%;
  padding-top: 50px;
  margin-top: 5%;
  padding-bottom: 2.5%;
}
.square-b
{
  width: 100%;
  height: 100%;
}
.square-c
{
  width: 100%;
}
.square-d
{
  width: 100%;
  height: 100%;
}
.clothesTop
{
  width: 100%;
  height: 100%;
}
.clothesBottom
{
  width: 80%;
  height: 100%;
  margin-left:10%;
}