<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshGetClothes($event)">
      <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher>  


  <div class="weatherBackground" style="background-image: url('assets/images/clothesBackGround/{{clothesBackGround}}.gif')">
    <div class="square-a" style="height: {{clothesTopHeight}}%;"> 
      <div class="square-b">
        <ion-icon class="clothesTop" src="{{clothesTopPath}}{{clothesTopNumber}}.svg" style="color:{{clothesTopColor}};"></ion-icon>
      </div>
    </div>
    <div class="square-c" style="height: {{clothesBottomHeight}}%;" > 
      <div class="square-d">
        <ion-icon class="clothesBottom" src="{{clothesBottomPath}}{{clothesBottomNumber}}.svg" style="color:{{clothesBottomColor}};"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>