#headerLogo {
  width: 175px;
  padding: 10px;
}
.badge-one {
  --color: white;
  position: absolute;
  top: 0;
  right: -3px;
  z-index: 1;
  font-size: 8px;
}

.beyazicon {
  color: white;
}
.headerbg {
  --background: #363636;
}

ion-icon {
  font-size: 24px;
}
.menucontent {
  --background: #363636;
}
.menuicon {
  position: absolute;
  left: 10px;
}
.menutext {
  font-family: serif;
  position: absolute;
  left: 40px;
}
.menuButton {
  --background: none;
}
