  .headerLogo {
    width: 60px; 
    height: 60px; 
    float: left;
    padding: 10px;
  }
  .badge-one {
    --color: white;
    position: absolute;
    top: 0;
    right: -3px;
    z-index: 1;
    font-size: 8px;
  }
  
  .smallicon {
    color: white;
  }
  .headerbg {
    --background: none;
  }
  .headerText
  {
    font-family: 'Orbitron'; 
    color: #ffffff; 
    float: left;
  }
  ion-icon {
    font-size: 24px;
  }
  .menucontent {
    --background: #363636;
  }
  .menuicon {
    position: absolute;
    left: 10px;
  }
  .menutext {
    font-family: serif;  
    position: absolute;
    left: 40px;
  }
  .menuButton {
    --background: none;
    --box-shadow:none !important;
  }
  ion-toggle
  {
    margin-top: 7px;
  }
  .trash
  {
    color: red;
    width: 30px; 
    height: 30px;
  }
  .closeModal
  {
    margin-right: 10px; 
    float: right;
  }