
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshGetPlaylist($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>  

  <ion-slides pager="true" *ngIf="weatherDesc">
    <ion-slide *ngFor='let i of playlistsLength'>
        <ion-content>
          <div class="weatherBackground" style="background-image: url('assets/images/playlistsBackGround/{{playlistsImage}}.gif');">
          <ion-card>
            <div *ngIf="musicPlatform.includes('Spotify') && spotifyPlaylists.length>i">
              <ion-item lines="none" class="refresherCard">
                <a href="{{spotifyPlaylists[i].playlistLink}}"><ion-icon src="assets\icon\spotify.svg" slot="start"></ion-icon></a>

                <ion-label><a href="{{spotifyPlaylists[i].playlistLink}}">{{languages["playlistName"][language]}}: {{spotifyPlaylists[i].playlistName}}</a></ion-label>
              </ion-item>
              
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["categories"][language]}}: {{spotifyPlaylists[i].playlistCategories}}</ion-label>
              </ion-item>
  
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["songCount"][language]}}: {{spotifyPlaylists[i].playlistSongCount}}</ion-label>
              </ion-item>
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["likes"][language]}}: {{spotifyPlaylists[i].playlistLikes}}</ion-label>
              </ion-item>
            </div>
        
            <div *ngIf="musicPlatform.includes('YoutubeMusic') && youtubeMusicPlaylists.length>i">
              
              <ion-item lines="none" class="refresherCard">
                <a href="{{youtubeMusicPlaylists[i].playlistLink}}"><ion-icon src="assets\icon\youtubeMusic.svg" slot="start"></ion-icon></a>
                <ion-label><a href="{{youtubeMusicPlaylists[i].playlistLink}}">{{languages["playlistName"][language]}}: {{youtubeMusicPlaylists[i].playlistName}}</a></ion-label>
              </ion-item>
  
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["categories"][language]}}: {{youtubeMusicPlaylists[i].playlistCategories}}</ion-label>
              </ion-item>
  
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["songCount"][language]}}: {{youtubeMusicPlaylists[i].playlistSongCount}}</ion-label>
              </ion-item>
            </div>

            <div *ngIf="musicPlatform.includes('AppleMusic') && appleMusicPlaylists.length>i">
              <ion-item lines="none" class="refresherCard">
                <a href="{{appleMusicPlaylists[i].playlistLink}}"><ion-icon src="assets\icon\appleMusic.svg" slot="start"></ion-icon></a>
                <ion-label><a href="{{appleMusicPlaylists[i].playlistLink}}">{{languages["playlistName"][language]}}: {{appleMusicPlaylists[i].playlistName}}</a></ion-label>
              </ion-item>
  
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["categories"][language]}}: {{appleMusicPlaylists[i].playlistCategories}}</ion-label>
              </ion-item>
  
              <ion-item lines="none" class="refresherCard">
                <ion-label>{{languages["songCount"][language]}}: {{appleMusicPlaylists[i].playlistSongCount}}</ion-label>
              </ion-item>
            </div>
          </ion-card>
        </div>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>