ion-slides {
    height: 100%;
    --bullet-background	:white;
    --bullet-background-active	:rgb(41, 118, 176);
  }
ion-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding: 0px; 
    margin: 0px;
}
ion-icon {
    width: 40px; 
    height: 40px;
}
ion-card
{
    width: 100%; 
    --background:none; 
    margin: 0; 
    padding: 0;
    padding-top: 50px;
    margin-top:5%; 
    box-shadow: none !important;
}
ion-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 20px; 
    font-weight: bold;
}
a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.refresherCard
{
    --background: none;
} 
.weatherBackground
{
    width: 100%;
    height: auto;
    min-height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.weatherDesc
{
    font-size: 36px;color:white;text-align: center; opacity: 1.0;
}
