ion-slides {
  height: 100%;
}
ion-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}
h1 {
  margin-top: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}
h4 {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  margin-top: 150px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

ion-title {
  padding-top: 20px;
  text-align: center;
}
.termsAndConditions {
  font-size: small;
  margin-left: 25px;
  padding-right: 15px;
}
.termsAndConditionsCheckBox {
  position: absolute;
}
.termsAndConditionsText {
  padding: 20px;
}
