<ion-content [fullscreen]="true" *ngIf="userCount==0">
  <meta name="color-scheme" content="light dark" />

  <ion-slides pager="true">
    <ion-slide style="background-image: url('assets/images/slider1.jpg')">
      <h1>Welcome</h1>
      <h4>Better Than Stylist is a practical of shaping your lifestyle</h4>
    </ion-slide>

    <ion-slide style="background-image: url('assets/images/slider2.jpg');">
      <h1>Information</h1>
      <h4>
        We need some of your personal information to be able to make
        recommendations to you.
      </h4>
    </ion-slide>

    <ion-slide class="slider3"
      ><ion-content class="slider3Content">
        <ion-toolbar>
          <ion-title>Register</ion-title>
        </ion-toolbar>

        <ion-item lines="full">
          <ion-label position="floating">First Name</ion-label>
          <ion-input required [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input required [(ngModel)]="lastName"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Year</ion-label>
          <ion-input
            required
            type="number"
            [(ngModel)]="year"
            value="1900"
            max="2022"
            min="1900"
          >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select
            required
            [(ngModel)]="gender"
            interface="Choose your gender"
            placeholder="Select One"
            mode="ios"
          >
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Music Platform</ion-label>
          <ion-select
            required
            [(ngModel)]="musicPlatform"
            interface="Choose your platform"
            mode="ios"
            multiple="true"
          >
            <ion-select-option value="Spotify">Spotify</ion-select-option>
            <ion-select-option value="YoutubeMusic"
              >Youtube Music</ion-select-option
            >
            <ion-select-option value="AppleMusic"
              >Apple Music</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>language</ion-label>
          <ion-select
            required
            [(ngModel)]="language"
            interface="Choose your language
                "
            mode="ios"
          >
            <ion-select-option value="Turkish">Turkish</ion-select-option>
            <ion-select-option value="English">English</ion-select-option>
            <ion-select-option value="German">German</ion-select-option>
            <ion-select-option value="Spanish">Spanish</ion-select-option>
            <ion-select-option value="French">French</ion-select-option>
            <ion-select-option value="Chinese">Chinese</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox
            color="danger"
            [(ngModel)]="termsAndConditions"
            class="termsAndConditionsCheckBox"
          ></ion-checkbox>
          <ion-label class="termsAndConditions">
            I accept the<ion-router-link href="https://betterthanstylist.online/privacy.html"
              >Terms & Conditions</ion-router-link
            ></ion-label
          >

          <ion-modal isOpen="{{termsModal}}">
            <ng-template>
              
              <ion-content
                ><ion-toolbar>
                  <ion-title>Terms & Conditions</ion-title>
                  <ion-buttons slot="end" (click)="closeTermsModal()" class="closeTermsModal">
                    <ion-icon
                    name="close-outline"
                    class="smallicon"
                    size="large"
                  ></ion-icon></ion-buttons>
                </ion-toolbar>
                <div class="termsAndConditionsText">
                  
                  BETTER THAN STYLIST LİSANS KOŞULLARI<br>
Bu lisans sözleşmesinde belirtilen hakları ve yükümlülükleri dikkatle okuyunuz. Kurulum esnasında bu şartları kabul edip etmediğiniz tarafınıza sorulacaktır. Eğer kabul etmiyorsanız uygulamayı kullanamayacaksınız. Uygulamayı yüklemeniz, sözleşme şartlarını kabul ettiğinizi gösterir. Bu sözleşme BETTER THAN STYLIST için, BETTER THAN STYLIST ile SON KULLANICI (gerçek veya tüzel) arasında yapılan yasal bir sözleşmedir. Uygulamayı yüklemeniz bu sözleşmenin hükümlerini kabul ettiğiniz anlamına gelir. Sözleşmeyi kabul etmediğiniz taktirde Uygulamayı kullanamazsınız.<br>
I- SON KULLANICIYA AİT HAK VE YÜKÜMLÜLÜKLER:<br>
1. SON KULLANICI, uygulamanın güncel çalışma durumunu kontrol ettiğini, eski sürümü kullanıp bundan kaynaklı oluşabilecek sorunların farkında olduğunu bildiğini beyan ve kabul eder.<br>
2. SON KULLANICI, Uygulamanın çalışması için gerekli olan bilgilerin (konum bilgisinin kullanılacağını ve uygulamaya kaydolurken girdiği bilgilerin kullanılacağını) kullanılacağını bildiğini beyan ve kabul eder.<br>
3. SON KULLANICI, bu Lisans Sözleşmesi ile izin verilenler dışında Uygulama ve dokümantasyonu çoğaltıp kullanmayacağını, Uygulamayı kaynak koda dönüştürmeyeceğini ve tekrar derleme işlemi yapmayacağını bildiğini beyan ve kabul eder.<br>
4. SON KULLANICI, BETTER THAN STYLIST’in yazılı onayı olmadan uygulamayı, başka bir kişiye dağıtmayacağını, ödünç vermeyeceğini, kiraya vermeyeceğini, satmayacağını, topluma iletmeyeceğini, <br>
5. SON KULLANICI, uygulamayı ve dokümantasyonunu değiştirmeyeceğini, uyarlamayacağını veya uygulama ve dokümantasyondan yola çıkarak esinlenmiş eserler yaratmayacağını kabul, beyan ve taahhüt eder.<br>
II - BETTER THAN STYLIST’e ait HAK VE YÜKÜMLÜLÜKLER: <br>
1. SON KULLANICI'nın, bend I, madde 1.-2.-3.-4.-5. hükümlerine aykırı davranması halinde, BETTER THAN STYLIST hiçbir ihtara gerek kalmaksızın, her türlü yasal başvuru ve talep haklarını kullanma hakkına haizdir. <br>
III- GENEL HÜKÜMLER: <br>
1. İş bu sözleşme konusu uygulamanın değiştirilmesi veya geliştirilip yenilenmesi durumunda, iş bu sözleşme hükümleri, taraflar arasında akdedilen yeni sözleşme ile ortadan kaldırılmadığı sürece geçerlidir. <br>
2. Bu Lisans Sözleşmesi'nin maddelerine göre bu uygulamanın bütün hakları (YAZILIM kodları, satış hakları vb.) BETTER THAN STYLIST’e aittir. Son kullanıcı sadece uygulamanın kullanım hakkına sahip olacaktır. <br>
3. İş bu sözleşmenin uygulanmasında karşılıklı iyi niyet esastır. <br>
4. Açıkça SON KULLANICI'ya verildiği belirtilmeyen tüm haklar BETTER THAN STYLIST’e aittir. <br>
5. Diğer hakların saklı kalması kaydıyla bu sözleşmenin şartlarına uymamanız durumunda BETTER THAN STYLIST sözleşmeyi sona erdirebilir. <br><br>
BETTER THAN STYLIST LICENSE TERMS<br>
Carefully read the rights and obligations set forth in this license agreement. During installation, you will be asked whether you accept these terms or not. If you do not agree, you will not be able to use the application. Installing the application indicates that you accept the terms of the agreement. This contract for BETTER THAN STYLIST is a legal contract between BETTER THAN STYLIST and the END USER (real or legal). By installing the application, you accept the terms of this agreement. If you do not accept the agreement, you cannot use the Application.<br>
I- RIGHTS AND OBLIGATIONS OF THE END USER:<br>
1. The END USER declares and accepts that he/she has checked the current working status of the application and is aware of the problems that may arise from using the old version.<br>
2. The END USER declares and accepts that he knows that the information required for the operation of the Application (location information will be used and the information entered while registering for the application) will be used.<br>
3. The END USER declares and accepts that he/she knows whether he/she will reproduce the Application and documentation, will not convert the Application into source code and will not recompile, except as permitted by this License Agreement.<br>
4. END USER, BETTER THAN STYLIST will not distribute, lend, rent, sell, or transmit the application to another person, without the written consent of BETTER THAN STYLIST,<br>
5. The END USER accepts, declares and undertakes that he will not change or adapt the application and its documentation or create inspired works based on the application and documentation.<br>
II - RIGHTS AND OBLIGATIONS OF BETTER THAN STYLIST:<br>
1. END USER, clause I, clause 1.-2.-3.-4.-5. BETTER THAN STYLIST has the right to use all kinds of legal application and demand rights without any warning.<br>
III- GENERAL PROVISIONS:<br>
1. In the event that the application subject to this contract is changed or developed and renewed, the provisions of this contract shall be valid unless it is abolished by a new contract concluded between the parties.<br>
2. According to the terms of this License Agreement, all rights of this application (SOFTWARE codes, sales rights, etc.) belong to BETTER THAN STYLIST. The end user will only have the right to use the application.<br>
3. Mutual goodwill is essential in the implementation of this contract.<br>
4. All rights not expressly granted to the END USER belong to BETTER THAN STYLIST.<br>
5. Without prejudice to other rights, BETTER THAN STYLIST may terminate the contract if you fail to comply with the terms of this contract.<br>


                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item lines="none">
          <ion-button
            slot="end"
            size="medium"
            color="danger"
            (click)="createUser()"
            mode="ios"
            >Register</ion-button
          >
        </ion-item>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-content [fullscreen]="true" id="main" *ngIf="userCount!=0">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>  
  <div *ngIf="weatherDesc" class="weatherBackground" style="background-image: url('assets/images/weatherBackGround/{{weatherMain | lowercase}}.gif');">
  <ion-card>
    
      <div class="weatherTitle">{{weatherTemp | number : '1.0-0'}}&#8451;<br></div>
      <div class="weatherDesc"><ion-icon src="assets\icon\weatherIcon\{{weatherDesc | lowercase}}.svg" slot="start"></ion-icon>{{languages[weatherDesc | clearspaces | lowercase][language]}}</div>
      <div class="weatherDesc"><ion-icon src="assets\icon\location.svg"></ion-icon>{{city}}</div> 

      <ion-item lines="none" class="refresherCard">
        <ion-icon src="assets\icon\sunset.svg" slot="start"class="weatherIcon"></ion-icon>
        <ion-label class="weatherStatus">{{languages["Sunset"][language]}}: {{sunset}}</ion-label>
      </ion-item>

      <ion-item lines="none" class="refresherCard">
        <ion-icon src="assets\icon\sunrise.svg" slot="start"class="weatherIcon"></ion-icon>
        <ion-label class="weatherStatus">{{languages["Sunrise"][language]}}: {{sunrise}}</ion-label>
      </ion-item>

      <ion-item lines="none" class="refresherCard">
        <ion-icon src="assets\icon\wind.svg" slot="start" class="weatherIcon"></ion-icon>
        <ion-label class="weatherStatus">{{languages["WindSpeed"][language]}}: {{windSpeed}}</ion-label>
      </ion-item>

    </ion-card>
  </div>  
  
  <div *ngIf="!weatherDesc" style="padding-top: 60px;" >
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
